services:
  docmost:
    image: docmost/docmost:latest
    depends_on:
      - postgres
      - redis
    environment:
      APP_URL: 'http://docmost.selfhost.cc:25000'
      APP_SECRET: '494446f6b40bacec25f257180f3d4cab48185810aff998db8f198eb804a1a8d0'
      DATABASE_URL: 'postgresql://docmost:STRONG_DB_PASSWORD@postgres:5432/docmost'
      REDIS_URL: 'redis://redis:6379'
    ports:
      - 25000:3000
    restart: unless-stopped
    volumes:
      - docmost:/app/data/storage
    networks:
      - selfhost

  postgres:
    image: postgres:18
    environment:
      POSTGRES_DB: docmost
      POSTGRES_USER: docmost
      POSTGRES_PASSWORD: STRONG_DB_PASSWORD
    restart: unless-stopped
    volumes:
      - postgres:/var/lib/postgresql
    networks:
      - selfhost

  redis:
    image: redis:8
    command: ["redis-server", "--appendonly", "yes", "--maxmemory-policy", "noeviction"]
    restart: unless-stopped
    volumes:
      - redis:/data
    networks:
      - selfhost

  caddy:
    image: caddy:latest
    restart: unless-stopped
    networks:
      - selfhost
    ports:
      - "80:80"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro

volumes:
  docmost:
  postgres:
  redis:

networks:
  selfhost: